body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: sans-serif;
}

header {
  background-color: black;
  color: yellow;
  padding: 10px 20px;
  border-bottom: 1px solid yellow;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  margin: 0;
  padding: 0;
}

nav ul li {
  margin-left: 20px;
}

nav ul li a {
  color: yellow;
  text-decoration: none;
  font-weight: bold;
}

main {
  display: flex;
  height: calc(100vh - 50px); /* ajusta para tirar a altura do header */
}

.left-panel {
  flex: 1;
  background-image: url('f73b0b6a-e299-44c8-9d9c-f0185a601f43.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.placeholder {
  width: 300px;
  height: 300px;
  background-color: lightgray;
}

.right-panel {
  flex: 1;
  background-image: url('');
  background-size: contain;
  background-repeat: repeat;
}
